[Unit]
Description=%i service with docker compose
Requires=docker.service
After=docker.service

[Service]
Restart=always

WorkingDirectory=/etc/docker/compose/%i

# Compose up
ExecStart=/usr/bin/docker-compose up

# Compose down
ExecStop=/usr/bin/docker-compose stop

[Install]
WantedBy=multi-user.target
